
/*ELEMENTI VARI BOOTSTRAP*/
.row {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.padding {
    padding-left: 30px;
    padding-right: 30px;
}
/*ELEMENTI VARI*/
.black {
    background-color: rgb(15,15,15)!important;
    color: white !important;
}
/*---------------------------------------ELEMENTI COMUNI + ABOUT----------------------------------------------------é/
/*NAVBAR*/
/*Navbar BRAND PC scrolldown*/
@media (min-width: 768px) {
        .past-main {
        background-color: rgb(15,15,15)!important;
        border-bottom: 0.3px solid white !important;
        -webkit-transition-duration: 1s; /* Safari */
        transition-duration: 1s;
        opacity: 0.9;
    }
    .past-main .nav-title {
        display: inline; /*si vede dopo scrolldown*/
    }
    .nav-title {
        display: none; /*non si vede senza scrolldown*/
        margin-top: 30px;
        text-align: center;
    }
    .nav-title a {
        display: block;
        color: white;
        font-family: "Courier New", monospace;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 7px;
        margin-left: 7px;
        margin-bottom: -8px;
        padding-top: 18px !important;
    }
    .nav-title a:hover {
        text-decoration: none;
        color: #999999;
    }
    .nav-title span {
        color: #999999;
        font-family: "Courier New", monospace;
        display: block;
    }
}
@media (max-width: 767px) {
    .nav-title {
        display: none;
    }
}
/*allineamento elementi navbar su pc*/
.navbar {
    padding-top: 7px;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}
/* rimuovi brand su pc*/
@media (min-width: 768px) {
    .navbar-brand{
        display:none;
    }
    .navbar-text{
        display:none;
    }
}
/*allineamento elementi menù*/
@media (min-width: 768px) {
    .navbar-nav li{
        margin-left: 50px;
    }
    /*correzione problemi allineamento*/
    .navbar-nav {
        margin-left: -48px;
    }
}
@media (max-width: 767px) {
    .navbar-nav li{
        margin-left: 10px;
    }
}
@media (max-width: 400px) {
    .navbar-text{
        display:none;
    }
}
/*colori*/
@media (max-width: 767px) {
    .navbar-inverse {
        background-color: rgb(15,15,15);
        border-color: transparent;
        border-bottom: 0.3px solid white;
    }
}
@media (min-width: 768px) {
    .navbar-inverse {
        background-color: transparent;
        border-color: transparent;
    }
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
.navbar-inverse .navbar-brand {
    color: white;
    font-family: "Courier New", monospace;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 7px; /*tracking*/
    margin-left: 10px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #333333;
}
.navbar-inverse .navbar-text {
    font-family: "Courier New", monospace;
}

/*COPERTINA*/
#sfondo {
    z-index: -1;
    overflow: hidden;
}
.copertina {
    /*dimensioni uguali alla viewport*/
    width = 100%;
    height = 100vh;
    min-height: 100vh;
    background-color: transparent;
    /*centrare contenuto*/
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center; 
    /*background-image: url("../imgs/tempBG.jpg");
    background-size: cover;*/
}
#titolo {
    font-family: "Courier New", monospace;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 14px; /*tracking*/
    padding-left: 14px; /*aggiustare casini tracking*/
    color: white;
}
#sottotitolo {
    margin-top: -15px;
    color: #999999;
    font-family: "Courier New", monospace;
    font-size: 20px;
}
#sottosottotitolo {
    color: #999999;
    font-size: 12px;
}
/*Freccia per scorrere*/
.downImg {
    height: 30px;   
}
#down {
    height: 95px;
    margin-top: -95px;
    text-align: center;
}
#down a {
    text-align: center;
    margin: 0 auto;
    color: white;
    text-decoration: none;
}
#down a:hover {
    color: #999999;
}

/*SEZIONI*/
/*CHISIAMO BIANCO*/
/*@media (min-width: 768px) {
    .chisiamo {
        padding-top: 90px;
    }
}
.chisiamo {
    padding-bottom: 40px;
    border-bottom: 0.3px solid rgb(15,15,15);
}
.titolo-sezione {
    text-align:center;
}
.titolo-sezione h2 {
    font-family: "Courier New", monospace;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 8px;
    padding-left: 8px;
}
.titolo-sezione h3 {
    margin-top: -8px;
    color: #999999;
    font-family: "Courier New", monospace;
    font-size: 20px;
}*/
/*CHISIAMO NERO*/
.chisiamo {
    padding-top: 125px;
    padding-bottom: 80px;
    background-color: rgb(15,15,15);
    color: white;
}
.titolo-chisiamo {
    text-align:center;
    color: white;
}
.titolo-chisiamo h2 {
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 8px;
    padding-left: 8px;
    color: white;
}
.titolo-chisiamo h3 {
    margin-top: -8px;
    color: #999999;
    font-family: "Courier New", monospace;
    font-size: 20px;
}
.chisiamo p {
    margin-bottom: 30px;
    text-align: left;
    padding-left: 15px;
}
@media (max-width: 767px) {
    .chisiamo p {
        margin-bottom: 30px;
        text-align: left;
        padding-left: 15px;   
    }
}
.titolo-sezione {
    text-align:center;
    color: white;
}
.titolo-sezione h2 {
    font-size: 36px;
    letter-spacing: 8px;
    padding-left: 8px;
    color: #555555;
}
.titolo-sezione h3 {
    margin-top: -8px;
    color: #999999;
    font-family: "Courier New", monospace;
    font-size: 20px;
}
.eng {
    color: #999999;
    font-family: "Courier New", monospace;
}
/*PROFILI*/
.slack {
    color: rgb(15,15,15);
    text-decoration: underline;
}
.slack:hover {
    color: #999999;
    text-decoration: none;
}
.profilo {
    border-bottom: 1px solid rgb(15,15,15);
}

.descrizione {
    padding-top:25px;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .descrizione h4 {
        font-size: 20px;
        text-align: center;
    }
    .descrizione h5 {
        margin-top: -5px;
        text-align: center;
    }
}

.descrizione h4 {
    font-size: 20px;
}
.descrizione h5 {
    margin-top: -5px;
}
.descrizione p {
    margin-top: 20px;
}
.foto {
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*CLIENTI*/
.clienti {
    border-bottom: 1px solid rgb(15,15,15);
    padding-bottom: 80px;
}

.logoClienti {
    margin-top: 15px;
    float:left;
    height: 120px;
    margin-right: 15px;
}
.clienti .foot div {
    padding-top: 15px;
}
.clienti .foot div h3 {
    padding-left: 50px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 0;
}
.clienti .foot div p {
    padding-left: 50px;
}

/*FOOTER*/
footer {
    background-color: rgb(15,15,15);
    color: white;
    padding-top: 45px;
    padding-bottom: 60px;
}
@media (max-width: 500px) {
    .logo {
        display: none;       
    } 
}
.logo {
    margin-top: 15px;
    float:left;
    height: 80px;
    margin-right: 15px;
}
.foot {
    float:left;
}
.foot h3 {
    font-family: "Courier New", monospace;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 4px;
}
.foot p {
    color: #999999;
}
.foot li {
    display: inline-block;
    padding-top: 18px;
    padding-left: 50px;
}
.foot li ul {
    margin-bottom: 8px;
}
.foot li ul a {
    color: #999999;
}
.foot li ul a:hover {
    color: white;
    text-decoration: none;
}
@media (max-width: 500px) {
    .foot li {
        display: none;       
    } 
}


/*----------------------------------AGGIORNAMENTI---------------------------------------*/
/*GALLERIE IMMAGINI*/ 
.gallery {
    margin: 0 auto;
}
.counter {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.counter span {
    padding-left: 100px;
    padding-right: 100px;
    float: none;
}
.pre {
    float: left;
    background-color: rgb(15,15,15);
    border-width: 0px;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
}
button.pre:hover {
    background-color: rgb(80,80,80);
}
.pro{
    background-color: rgb(15,15,15);
    border-width: 0px;
    color: white;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    float: right;
}
button.pro:hover {
    background-color: rgb(80,80,80);
}
#imgPanel1, #imgPanel2 {
    width: 75%;
}
.aggiornamento{
    border-bottom: 1px solid rgb(15,15,15);
    padding-bottom: 50px;
}